<ion-slides pager>
  <ion-slide >
    <img src="./../../../assets/slide-1.png" />
    <h2>Bienvenidos a T-App!</h2>
    <p>
      Primera App de recetas de bebidas gourmet en latinoamérica
    </p>
  </ion-slide>
  <ion-slide >
    <img src="./../../../assets/slide-2.png" />
    <h2>¿Qué encontraré aquí?</h2>
    <p>
      <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps
      with web technologies like HTML, CSS, and JavaScript.
    </p>
  </ion-slide>
  <ion-slide >
    <img src="./../../../assets/slide-3.png" />
    <h2>What is Appflow?</h2>
    <p>
      <b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
      totally new level of app development agility to mobile dev teams.
    </p>
  </ion-slide>
  <ion-slide >
    <img src="./../../../assets/slide-4.png" />
    <h2>Ready to Play?</h2>
    <ion-button fill="clear" [routerLink]="['/home']">Ingresar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-slide>
</ion-slides>
