<ion-slides pager>
  <ion-slide >
    <img src="./../../../assets/slide-1.png" />
    <h2>Bienvenidos a T-App!</h2>
    <p>
      Primera App de recetas de bebidas gourmet en latinoamérica
    </p>
  </ion-slide>
  <ion-slide >
    <img src="./../../../assets/slide-2.png" />
    <h2>¿Qué encontraré aquí?</h2>
    <p>
      <b>T-App</b> es una aplicación móvil desarrollada con fines educativos para poder visualizar 
      recetas de bebidas calientes y agregar más recetas a elección del usuario.
    </p>
  </ion-slide>
  <ion-slide >
    <img src="./../../../assets/slide-3.png" />
    <h2>Qué puedo hacer en T-App?</h2>
    <p>
      Puedes buscar recetas de diversas bebidas calientes, ver sus características y buscarlas.
    </p>
  </ion-slide>
  <ion-slide >
    <img src="./../../../assets/slide-4.png" />
    <h2>Listo para comenzar?</h2>
    <ion-button fill="clear" [routerLink]="['/home']">Ingresar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-slide>
</ion-slides>
