<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="ellipsis-vertical" (click)="abrirPopover($event)" class="popover-conf"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor = "let favorito of favoritos" >
    <!-- component app-tea-card -->
    <app-tea-card [teaItem]="favorito"></app-tea-card>
    <!-- end component app-tea-card -->
  </div>
</ion-content>
