<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-center">Agregar Té</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input placeholder="Nombre de té" type="text" [(ngModel)]="nombre"></ion-input>
          <ion-item>
            <ion-label>Dificultad</ion-label>
            <ion-select value="1" [(ngModel)]="dificultad">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="1.5">1.5</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="2.5">2.5</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="3.5">3.5</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="4.5">4.5</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-input placeholder="Url de foto" type="text" [(ngModel)]="foto"></ion-input>
          <ion-input placeholder="Ingredientes" type="text" [(ngModel)]="ingredientes"></ion-input>
          <ion-input placeholder="Instrucciones" type="text" [(ngModel)]="instrucciones" ></ion-input>
          <ion-item>
            <ion-label>Temperatura</ion-label>
            <ion-select value="Frío" [(ngModel)]="temperatura">
              <ion-select-option value="Frío">Frío</ion-select-option>
              <ion-select-option value="Caliente">Caliente</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de té</ion-label>
            <ion-select value="Té Verde" [(ngModel)]="tipoTe">
              <ion-select-option value="Té Rojo">Té Rojo</ion-select-option>
              <ion-select-option value="1.5">1.5</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="2.5">2.5</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="3.5">3.5</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="4.5">4.5</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button color="primary" (click)="agregarTe()">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>